@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: roboto, sans serif
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

}

img {
    max-width: 10%;
    height: auto; 
}

.header {
    background-color: #13155d;
    color: white;
    font-size: 20px;
    display: flex;
    padding-top: 16px;
    align-items: center;
    justify-content: space-around;
}

   


.links {
    display: flex;
    justify-content: end;
    align-items: start;
    list-style-type: none;
    gap: 16px;
    margin: 0; 
    padding: 0 
 
}

a {
    text-decoration: none;
    color: #eee;
  }


.container1 {
    background-color: #13155d;
    display: flex;
    flex-direction: column;
    padding: 10%;

}




.h1 { color: #eee; 
    padding-left: 9%; 
   

}

.p1class {
    margin: 0;
}

.h1class {
    margin-bottom: 6px;
}

.p1 {

    color: #eeeeee9e;
    padding-left: 9%; 
    

}

.button1 {

    margin-top: 12px;
    padding-left: 9%;

}

.img1 { 
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;


    
}

.imgtest {

    height: 200px;
    width: auto;
}
    

.container2 {

}

.imgcontainer1 {

}

.img2 {

}

.imgtxt {

}

.img3 {

}

.img4 {

}

.img5 {

}

.container3 {

}

.textcontainer1 {

}

.p2 {

}

.p3 {

}

.container4 {

}

.innercontainer {

}

.textcontainer2 {

}

.containertext1 {

}

.containertext2 {

}

.button2 {
    
}

