@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: roboto, sans serif
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    

}

img {
    max-width: 10%;
    height: auto; 
}

.header {
    background-color: #13155d;
    display: flex;
    padding-top: 16px;
    align-items: center;
    justify-content: space-between;

   
}

.links {
    display: flex;
    justify-content: end;
    align-items: start;
    list-style-type: none;
    gap: 16px;
    margin: 0; 
    padding: 0 
 
}

a {
    text-decoration: none;
    color: #eee;
  }


.container1 {
    background-color: #13155d;

}

.h1 {

}

.p1 {

}

.button1 {

}

.img1 { 

    
}

.imgtest {

}
    

.container2 {

}

.imgcontainer1 {

}

.img2 {

}

.imgtxt {

}

.img3 {

}

.img4 {

}

.img5 {

}

.container3 {

}

.textcontainer1 {

}

.p2 {

}

.p3 {

}

.container4 {

}

.innercontainer {

}

.textcontainer2 {

}

.containertext1 {

}

.containertext2 {

}

.button2 {
    
}

